<!DOCTYPE HTML>
<html lang="tw">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equ="X-UA-Compatible" 
          content="ie=edge">
    <title>Personal Website</title>
    <link rel="stylesheet" href="assets/css/custom.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>
  
  
  <div id='main'>
    <section id='boxbox'>      
      <div class='ipbox'>
        <input type='number' v-model.number='num'  name='number'  />
        <input type='button' value='Go' @click='Change()'  />
        <input type='button' value='Add' @click='Add()'  />    
        <input type='button' value='Minus' @click='Minus()'  />       
      </div>
      <div class='ipbox'>        
        Console:<input type='button' value='Go' onclick='game.Go()'  />  
      </div>
      <div class='ipbox'>
        各種幣值: <input type='text' v-model='arr2'  name='arry2'  />
        總額: <input type='number' v-model.number='num2'  name='number2'  />
        <input type='button' value='Go' @click='Fun2()'  />
        最少的錢幣數量{{result2}} 
      </div>
      <div class='ipbox'>        
        三角形第幾層<input type='number' v-model.number='num3'  name='number3'  />
        <input type='button' value='Go' @click='Fun3()'  />
        當層陣列{{result3}}
      </div>
      <div class='box' v-for='(item, index) in DT' :key="item.Id" @click='Show(item.Id);' >
        <p>{{item.Id}}</p>
      </div>
    </section>
    <section id='bgbox'>
      <div class='bgcontainer'></div>
    </section>
    <section id='BBbox'>
      <div class='BB' v-for='(item, index) in BBDT'></div>
    </section>
    <section id='mwbox'>
      <p>我的文字</p>
    </section> 
    <section id='pmbox'>
      <p>時光</p>
      <p>記憶之中流盪</p>
      <p>揮灑之中飛翔</p>
      <p>沉思之中脈動</p>
    </section> 
  </div>
  <!--FS S-->
  <script type='text/javascript' src='assets/js/app.js'></script>
  <script type='text/javascript' src='assets/js/game.js'></script>
  <!--FS E-->
</body>
</html>
