<!DOCTYPE HTML>
<html lang="tw">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equ="X-UA-Compatible" 
          content="ie=edge">
    <title>Personal Website</title>
    <link rel="stylesheet" href="assets/css/custom.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
</head>
<body>
  <div class='box'></div>
  
  <div id='main'>
    <div>
      <input type='number' v-model='num'  name='number'  />
      <input type='button' value='Go' @click='Change()'  />
      <input type='button' value='Add' @click='Add()'  />    
      <input type='button' value='Minus' @click='Minus()'  />       
    </div>
    <div class='box' v-for='(item, index) in DT' :key="item.Id" >
      <p>{{item.Id}}</p>
    </div>
  </div>
  <script type='text/javascript'>
    var Main = new Vue({
        el: "#main",
        data: {
          num:2,
          DT: [{
            Id:0,
            text:'',
          }]
        },
        created: function () {
          this.init();
        },
        methods: {
          init: function() {
            var v = this;
            for(i=0;i<v.num;i++){
              this.DT[i] = this.NewItem(i+1,'one');
            }            
          },
          Add: function(){
            var v = this;
            v.DT.push(v.NewItem(v.num +1 ,'two'));
            v.num +=1;
          },          
          Minus: function(){
            var v = this;
            v.DT.pop();
            v.num -=1;
          },
          Change: function(){
            var v = this;
            
            console.log('change :' + v.DT.lengh + ' to ' + v.num);
            
            if(v.num > v.DT.lengh){
              for(i=0;i< (v.num - v.DT.lengh);i++){
                v.Add();
              }   
            }else{
              for(i=0;i< (v.DT.lengh - v.num);i++){
                v.Minus();
              }
            }            
          },
          NewItem: function(Id,text){
            var newitem = {
              Id: Id,
              text: text
            };            
            return newitem;
          }
        }
      });
  </script>
</body>
</html>
