/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Code */

/* BOX */
.box{
	background-color: aliceblue;
      	width: 50px;
      	height: 50px;
      	z-index: 100;
      	display: inline-block;
      	margin: 10px;
      	cursor: pointer;
	border-radius: 5px;
    }
.box:hover {
    	background-color: #82baea;
	color: white;
}
	.box > p{
		text-align: center;
    		padding-top: 18px;
	}

/* BG */
.bgcontainer {
    border: 1px solid cornflowerblue;
    min-height: 250px;
    background: 
	    linear-gradient(45deg, #eeff 50%,transparent 55%) center center /100% 100%, 
	    url(https://via.placeholder.com/1024x768/77eeff/ffffff/?text=myback) right center / 50% 100%;
    overflow: hidden;
    background-position: right,left;
}
.bgcontainer:hover {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 50%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
}
.bgcontainer p{
}

/* BB */
.BB {
    background-color: aliceblue;
    width: 80px;
    height: 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid deepskyblue;
}
.BB:first-child:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;  
    animation-timing-function: linear;
}
.BB:nth-child(2):hover {
    animation-name: rotate3D;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;  
    animation-timing-function: linear;
}
@keyframes rotate {
    80% { -webkit-transform: rotate(1080deg); transform:rotate(1080deg);}
    100%{transform: translateX(1000px) matrix(0.5,-0.2,2.7,0.6,-2.3,1.5);}
}
@keyframes rotate3D {
    80% { transform: rotateY(60deg);
  	transform-style: preserve-3d;}
    100%{transform: translateX(1000px);}
}

/* My word*.
#mwbox{
  margin:5px;
  padding:5px;
  color:linen;  
  bakeground-color:lightblue;
}
#mwbox>p{
    font-size:5vw;
    direction: rtl;
    unicode-bidi: bidi-override;
}
	
